@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

<hgroup>
    <h1 class="text-danger">Bloqueado.</h1>
    <h2 class="text-danger">Esse usuário foi bloqueado, tente novamente mais tarde ou entre em contato com o administrador.</h2>
</hgroup>
